#allow fsck efs_block_device:blk_file { getattr open read write ioctl };
allow fsck efs_block_device:blk_file { ioctl read write getattr open };
allow fsck fsck:capability { dac_override };
