recovery_only(`

# firmware files
allow recovery firmware_file:dir { create setattr relabelto relabelfrom };
allow recovery firmware_file:file { create write open setattr relabelto relabelfrom };
allow recovery firmware_mfc:file { create write open setattr relabelto relabelfrom };
')
