allow ueventd radio_device:file { getattr write open };
allow ueventd sysfs_bluetooth_writable:file { open write };
allow ueventd firmware_file:dir search;
allow ueventd firmware_file:file { getattr open read };
allow ueventd sysfs_mdnie:file { open write };
